@{
    ViewData["Title"] = "Concierge";
}

<section class="site_page_title why_choose_title">
    <div class="container">
        <div class="row">
            <!--left col container-->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="left_col_container">

                    <div class="page_title_box common_page_title clearfix">
                        <h1>Your Personal Travel Concierge</h1>
                    </div>

                    <div class="common_page_container">
                        <p class="featured_text">We make booking or customizing your trip a breeze by assigning you a personal travel concierge. Whether you need to schedule dates for your getaway, go over the details of your reservation, or assist with show reservations, attractions, or anything else, our personal travel concierge service is at your service to ensure a magical experience. Your concierge can even assist you with securing great rates on additional nights as well as room or hotel upgrades, or anything else we can do to make your getaway more enjoyable.</p>
                        <!-- <img src="images/Concierge-2.png" alt="" title="" class="img-responsive" />-->
                        <img src="~/images/concierge.jpg" alt="" title="" class="img-responsive" />
                    </div>

                </div>
            </div>
            <!--end left col container-->
            <!--right col container-->
            <div class="col-sm-4 col-md-4 col-lg-4" id="sticky1">
                <div class="right_col_container">
                    <div class="vacation_packags_block">
                        <div class="packages_container">
                            <p class="pack_gray_strong">4 Day Stay</p>
                            <p class="package_info color_blue">4 DAYS/3 NIGHTS IN LAS VEGAS</p>
                            <br />
                            <div class="pack_gray_strong" align="center"><img src="~/images/prices/1500_retail_value_sm.png" alt="" title="" class="img-responsive" id="vegas6" /></div>
                            <p class="package_price color_blue"><span>$</span>699</p>
                            <ul class="packages_detailsListing">
                                <li>Any day check in<br />	NO BLACKOUT DATES</li>
                            </ul>
                            <p class="package_info color_blue">- PACKAGE INCLUDES -</p>
                            <ul class="packages_detailsListing">
                                <li><strong>3 Nights Accommodation</strong></li>
                                <li>$50 Dining and 2 Attraction or Show Tickets</li>

                            </ul>

                        </div>

                        <a class="view_details_package pack_btn_blue" asp-action="Package" rel="nofollow">VIEW Entire Package</a>
                    </div>
                </div>
            </div>
            <!--end right col container-->

        </div>
    </div>
</section>
