@using VegasVacationVip.Models
@{
    var metadata = new PageMetadata
            {
                Title = "Get Your Personal Gifts - Vegas Vacations VIP",
                Description = "Find out more about your personal gifts - Vegas Vacations VIP.",
                CanonicalUrl = "https://vegasvacations.vip/Home/Gifts"
            };
}

@{
    ViewData["PageMetadata"] = metadata;
}

<!--main container part-->
<section class="site_page_title why_choose_title">
    <div class="container">
        <div class="row">
            <!--left col container-->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="left_col_container">

                    <div class="page_title_box common_page_title clearfix">
                        <h1>GIFTS</h1>
                    </div>

                    <div class="common_page_container">




                        <div class="package_details gift_block">
                            <h2>$50 GIFT CERTIFICATE TO PAMPAS</h2>
                            <p>
                                Pampas is not your average steakhouse. As the first Brazilian Churrascaria in Las Vegas, Pampas  knows what Sin City goers like—and they deliver it in style. A rich history of Rodizios, Surf & Turf, and Side Dishes, Pampas can help you find the perfect meal for whatever it is that brought you to the Boulevard.
                                <br><br>
                                Enjoy the 14 different meats as well as the 30 item side bar. Not a meat eater? No worries, Pampas  Vegetarian Rodizio will have you salivating in no time. Pair all of this with a traditional Caipirinha or a bottle of wine from Pampas award winning cellar and you have one night in Vegas you'll actually want to take home with you.
                            </p>
                        </div>

                        <div class="package_details gift_block">
                            <h2>2 Totally Free Show Tickets</h2>

                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/mt.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>MOTOWN EXTREME -</strong> Recipients of numerous awards, Motown Extreme Review is an explosive, high-energy show, filled with excitement and adventure. It’s a show that will have the crowd jumping for joy, laughing, and dancing. This charismatic show is a combination between a Broadway musical and a live concert. Ausar & Aset Bragg international recording artists, and producers of the Las Vegas Stars and the Motown Extreme review, and Grammy Award winner Mr. Felton Pilate musical director have assembled a show filled with chart-topping hits from your favorite Motown artists including Michael Jackson & The Jackson 5, Smokey Robinson, Stevie Wonder, Martha Reeves, The Marvellettes, The Temptations, Diana Ross & The Supremes, and many, many more. </p>
                            </div>

                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/show_img/la-comedy-club.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>LA COMEDY CLUB LIVE -</strong> The L.A. Comedy Club of Las Vegas has found a new home in the Stratosphere’s 160 seat Dragon Room. Serving both locals and visitors since 2007 and won several awards over those years and has earned the reputation of being the younger rebel brother of Improv. LA Comedy Club was the first comedy club to bring breakout comics such as Aziz Anazari, Felipe Esparsa and Loni Love to Vegas. Featuring a different live comedy event each week, national headlining comics stretch their comedic wings here to provide a unique experience that’s both hilarious and relevant. Customers deserve something beyond the norm of the brick wall, and they get that on a nightly basis at the LA Comedy Club.     </p>
                            </div>


                           @*  <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/va-pass.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>VEGAS ATTRACTION PASS – </strong>Pick from the best of the best Las Vegas attractions. All of our most popular options are available including:</p>
                            </div>



                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/hr1.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>i. High Roller -</strong> Ride The World’s Largest Observation Wheel In Las Vegas. Measuring 520 feet in diameter, the High Roller eclipses both the London Eye and Singapore Flyer.</p>
                            </div>

                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/et.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>ii. Eifel Tower -</strong> For a moment, stroll through Grande Paris. Rise to the top of the Eiffel Tower Viewing Deck and get a birds eye view of The Strip.</p>
                            </div>


                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/seaquest.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>iii. Sea Quest Interactive Aquarium -</strong> At the SeaQuest Interactive Aquarium you can explore the ocean in the middle of the desert. Kids love interacting with these amazing creatures while learning.</p>
                            </div>


                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/flylinq.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>iv. Fly Linq -</strong> An adrenaline fueled and electrifying sky-high experience that launches you over the LINQ Promenade while the rider is in a seated position.</p>
                            </div>


                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/marvel.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>v. Marvel Avengers S T A T I O N –</strong> Located at TI or Tresure Island, this is a truly energetic exhibit offering interactive experiences with the Marvel Avengers film characters.</p><br />
                            </div>


                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/bodies.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>vi. Bodies The Exhibition –</strong> Seen by over  million visitors worldwide, this is an educational and informative display showcasing real full-bodies and organs, providing a detailed, three-dimensional vision of the human form rarely seen </p><br />
                            </div>

                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/mob.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>vii. Mob Museum -</strong> The Mob Museum, officially the National Museum of Organized Crime and Law Enforcement, is a history museum located in Downtown Las Vegas just a block from the Fremont Street Experience. Here you will find an amazing interactive experience housed in what was formerly the courthouse that held many trials of notorious mob figures</p><br />
                            </div>


                            <div class="row">
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/csi.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext"><strong>viii. CSI Experience –</strong> This truly Intriguing attraction allows you the opportunity to test your skills as a crime scene investigator.</p><br />
                            </div>
 *@



                            <div class="row">
                                <h2>$100 DINING CARD</h2>
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/dining-dough.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext">Your dining card will allow you to dine out for less in Las Vegas and over 85,000 popular restaurants nationwide.</p>
                            </div>

                            <div class="row">
                                <h2>$100 PROMOTIONAL SLOT PLAY </h2>
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/slot-machine.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext">Try your luck at these promotional slot machines with no risk, just reward. Everyone is a winner and even if you do not win one of the cash jackpot prizes, you will still receive a souvenir of your Las Vegas getaway </p>
                            </div>

                            <div class="row">
                                <h2>DREAM VACATION WEEK</h2>
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/dvw.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext">This certificate will entitle you to access an inventory of studio, 1 bedroom or 2 bedroom resort accommodations. Choose from thousands of locations around the world in which to enjoy your 8day / 7night resort stay. (See certificate for details)</p>
                            </div>

                            <div class="row">
                                <h2>AIRFARE ANYWHERE</h2>
                                <div class="giftleft">
                                    <img src="~/images/gifts_img/plane-takeoff.jpg" class="img-responsive" />
                                </div>
                                <p class="gifttext">Create your own journey with this certificate for round trip coach airfare for 2 anywhere in the continental United States. (Sunday thru Thursday departures included. Upgrades to weekend departures and Hawaii airports available for additional cost. See certificate for details)</p>
                            </div>



                        </div>


                        <!--<div class="package_details gift_block">
                            <h2>$500 Travel Credit</h2>

                            <p>This is a credit to be used toward a future hotel or condo stay anywhere in the world. Your $500 travel credit from Travel Savings Dollars is a credit that can be used against the normal prices that you would pay using popular online sites like Expedia or Hotels.com to book a hotel. For Example if booking a stay that would normally cost $1200 for a full week and you use your $500 credit, you would only pay $700! Visit travelsavingdollars.com and click on "Take a Test Drive" to see the savings yourself.</p>

                            <div class="row">
                                <div class="col-sm-6"><a class="group2" href="images/gifts_img/creadit_img3.jpg" title=""><img src="images/gifts_img/creadit_img3.jpg" alt="" title="" class="img-responsive" /></a></div>
                                <div class="col-sm-6"><a class="group2" href="images/gifts_img/creadit_img1.jpg" title=""><img src="images/gifts_img/creadit_img1.jpg" alt="" title="" class="img-responsive" /></a></div>
                                <div class="col-sm-6"><a class="group2" href="images/gifts_img/creadit_img2.jpg" title=""><img src="images/gifts_img/creadit_img2.jpg" alt="" title="" class="img-responsive" /></a></div>

                            </div>
                        </div>-->

                    </div>

                </div>
            </div>
            <!--end left col container-->
            <!--right col container-->
            <div class="col-sm-4 col-md-4 col-lg-4" id="sticky1">
                <div class="right_col_container">
                    <div class="vacation_packags_block">
                        <div class="packages_container">
                            <p class="pack_gray_strong">4 Day Stay</p>
                            <p class="package_info color_blue">4 DAYS/3 NIGHTS IN LAS VEGAS</p>
                            <br />
                            <div class="pack_gray_strong" align="center"><img src="~/images/prices/1500_retail_value_sm.png" alt="" title="" class="img-responsive" id="vegas6" /></div>
                            <p class="package_price color_blue"><span>$</span>699</p>
                            <ul class="packages_detailsListing">
                                <li>Any day check in<br />	NO BLACKOUT DATES</li>
                            </ul>
                            <p class="package_info color_blue">- PACKAGE INCLUDES -</p>
                            <ul class="packages_detailsListing">
                                <li><strong>3 Nights Accommodations</strong></li>
                                <li>$150 Dining and 2 Show Tickets</li>

                            </ul>

                        </div>

                        <a class="view_details_package pack_btn_blue" asp-action="Package" rel="nofollow">VIEW Entire Package</a>
                    </div>
                </div>
            </div>
            <!--end right col container-->

        </div>
    </div>
</section>
<!--end main container part-->
