@using VegasVacationVip.Models
@{
    var metadata = new PageMetadata
            {
                Title = "List Of Hotels - Vegas Vacations VIP",
                Description = "Find out a list of hotels available for booking - Vegas Vacations VIP.",
                CanonicalUrl = "https://vegasvacations.vip/Home/Hotels"
            };
}

@{
    ViewData["PageMetadata"] = metadata;
}
<!--main container part-->
<section class="site_page_title why_choose_title">
    <div class="container">
        <div class="row">
            <!--left col container-->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="left_col_container">

                    <div class="page_title_box common_page_title clearfix">
                        <h1>Hotels &amp; Casinos</h1>
                    </div>

                    <div class="common_page_container">
                        <p class="featured_text">Your Vegas Package features 3 nights hotel & casino stay at one of several Las Vegas locations. While each is unique, all of these resorts feature multiple dining and entertainment options. Regardless of which hotel & casino you end up staying at, you are sure to have a great experience during your Las Vegas getaway with us!</p>

                        <div class="hotel_content_block">
                            <h2>Planet Hollywood</h2>
                            <p>
                                A modern hotel with all new contemporary rooms featuring modern furnishings and edgy artwork. Upscale dining options include Strip House Steakhouse and Koi, which is very well known for fine Japanese dining in New York and LA. If you are in the mood for something more casual, try Gordon Ramsay's Burger, Pinks Hot Dogs, Earl of Sandwich, PF Changs, or their famous "Spice Market" Buffet.
                                <br><br>
                                The PH also is home to the Miracle Mile Shops Las Vegas. In addition to great shopping and dining options, this area hosts multiple theatres including the V and Saxe theatres. Here you will find an assortment of shows which you can see using your show tickets that are included in this package. PH is also famous for the Zappos Theater which plays host to many headliners, including Jennifer Lopez, Pitbull, Lionel Richie, Backstreet Boys and more. While headliners are never included in our packages, while at PH you will have an opportunity to see world class shows right at your' hotel.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/planet_img/1.jpg" title=""><img src="~/images/hotel_img/planet_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/planet_img/2.jpg" title=""><img src="~/images/hotel_img/planet_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/planet_img/3.jpg" title=""><img src="~/images/hotel_img/planet_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>

                        </div>

                        <div class="hotel_content_block">
                            <h2>Flamingo</h2>
                            <p>
                                Located center strip adjacent to the Linq and the 550 foot tall High Roller and boasting comfortable new rooms, a tropical Wildlife Habitat and a 15 acre space, Caribbean-style water playground known as Go Pool, Flamingo Las Vegas puts you right in the middle of the action.
                                <br><br>
                                There is no need to leave the resort for meals or entertainment. Flamingo Las Vegas is the home to Donnie & Marie, America's Got Talent's Puff The Magic Dragon, X Burlesque and Legends in Concert. Their dining options include a fantastic buffet, Center Cut Steakhouse, a food court and 2 casual restaurant/bars world famous for tropical style fun, Margaritaville and Carlos & Charlies.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/flamingo_img/1.jpg" title=""><img src="~/images/hotel_img/flamingo_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/flamingo_img/2.jpg" title=""><img src="~/images/hotel_img/flamingo_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/flamingo_img/3.jpg" title=""><img src="~/images/hotel_img/flamingo_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>

                        </div>


                        <div class="hotel_content_block">
                            <h2>Bally's</h2>
                            <p>
                                A property that offers a blend of something old and something new. The rooms at Bally's are more spacious than most and feature large showers and/or bath tubs. The dining options here are endless and include the Sterling Buffet every weekend at BLT Steak. This buffet offers an opportunity to indulge in sturgeon caviar, oysters, lobster tails, and several things dipped in chocolate. Shows include the return of Mr. Las Vegas, Wayne Newton, The Bronx Wanderers, Paranormal, a Motown tribute called "Solid Gold", the X ROCKS topless revue, and more.
                                <br><br>
                                In front of Bally's you will discover the Grand Bazaar Shops, an open-air market that you will want to check out. Also, be sure to visit Bally's Avenue Shops in the corridor connecting you to the Race and Sports Book and the Monorail station.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/ballys_img/1.jpg" title=""><img src="~/images/hotel_img/ballys_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/ballys_img/2.jpg" title=""><img src="~/images/hotel_img/ballys_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/ballys_img/3.jpg" title=""><img src="~/images/hotel_img/ballys_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>

                        <div class="hotel_content_block">
                            <h2>Treasure Island</h2>
                            <p>
                                Treasure Island Las Vegas, also known as TI, is located in the heart of the Las Vegas strip. This property is home to Mystere by Cirque du Soleil, The Avengers S.T.A.T.I.O.N. exhibit, over a dozen dining options, and great shops. There is a fabulous outdoor heated resort pool offering cabanas and double chaise lounges. There is also a free tram connecting the property to the Mirage and a walkway connecting you to a wonderful and unique shopping experience, the Fashion Show Mall.

                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/treasure_img/1.jpg" title=""><img src="~/images/hotel_img/treasure_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/treasure_img/2.jpg" title=""><img src="~/images/hotel_img/treasure_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/treasure_img/3.jpg" title=""><img src="~/images/hotel_img/treasure_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>

                        <div class="hotel_content_block">
                            <h2>Sahara Las Vegas</h2>
                            <p>
                                The new Sahara is part of the SLS Hotels family. They are famous for style, luxury and service and is part of the SBE family, global leaders in hospitality, cuisine, design, residences and entertainment. Their Vegas Hotel is a sleek and seductive property offering over 1300 guest rooms, a massive casino floor, pool with cabanas, and a plethora of bars and sought after nightlife options.
                                <br><br>
                                Tempting your taste buds and senses, dining options include a Bazaar Meat by Jose Andres which has been rated among the very best steakhouses in America. SLS is also home to Katsuya, a Japanese fine dining experience for the American palette, and Cleo, a Mediterranean-inspired reinvention of Tinseltown glamour. For more casual dining consider Unami Burger, 800 Degrees Neapolitan Pizzeria, The Perq, or Northside Café & Chinese Kitchen.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/sahara/1.jpg" title=""><img src="~/images/hotel_img/sahara/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/sahara/2.jpg" title=""><img src="~/images/hotel_img/sahara/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/sahara/3.jpg" title=""><img src="~/images/hotel_img/sahara/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>


                        <div class="hotel_content_block">
                            <h2>The Linq</h2>
                            <p>Located in the center of the world-famous Las Vegas Strip, The Linq offers a collection of very trendy rooms designed in a contemporary style with high tech features. The High Roller, which is the world's largest observation wheel, anchors the Promenade, a curated outdoor shopping and entertainment complex. You will find a carefully selected collection of shops, restaurants and bars as well as entertainment options here.</p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/linq_img/1.jpg" title=""><img src="~/images/hotel_img/linq_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/linq_img/2.jpg" title=""><img src="~/images/hotel_img/linq_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/linq_img/3.jpg" title=""><img src="~/images/hotel_img/linq_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>

                        <div class="hotel_content_block">
                            <h2>Rio Hotel &amp; Casino</h2>
                            <p>
                                The Rio is the only "all suite" property in our collection. We are talking about 50 sq. feet with contemporary décor and floor to ceiling windows. Although the
                                suites are super comfortable, the Rio is all about the resort experience to be found outside of your accommodations.
                                <br><br>
                                The Rio features 2 major attractions, the 50 story high Voodoo Zipline and Kiss by Monster Mini Golf. You will also find great dining options including Guy Fieri's Mexican joint, El Borra Borracho shows here including headliners Penn & Teller, WOW (World of Wonder), Chippendales and more.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/rio_hotel_img/1.jpg" title=""><img src="~/images/hotel_img/rio_hotel_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/rio_hotel_img/2.jpg" title=""><img src="~/images/hotel_img/rio_hotel_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/rio_hotel_img/3.jpg" title=""><img src="~/images/hotel_img/rio_hotel_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>

                        <!--<div class="hotel_content_block">
                                                    <h2>SLS Las Vegas</h2>
                                                    <p>SLS Hotels are famous for style, luxury and service and is part of the SBE family, global leaders in hospitality, cuisine, design, residences and entertainment.  Their Vegas Hotel is a sleek and seductive property offering over 1300 guest rooms, a massive casino floor, pool with cabanas, and a plethora of bars and sought after nightlife options.
                        <br><br>
                        Tempting your taste buds and senses, dining options include a Bazaar Meat by Jose Andres which has been rated among the very best steakhouses in America. SLS is also home to Katsuya, a Japanese fine dining experience for the American palette, and Cleo, a Mediterranean-inspired reinvention of Tinseltown glamour. For more casual dining consider Unami Burger, 800 Degrees Neapolitan Pizzeria, The Perq, or Northside Café & Chinese Kitchen. </p>

                                                    <div class="gallary_img_block">
                                                        <a class="group2" href="images/hotel_img/sls_img/1.jpg" title=""><img src="images/hotel_img/sls_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                                        <a class="group2" href="images/hotel_img/sls_img/2.jpg" title=""><img src="images/hotel_img/sls_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                                        <a class="group2" href="images/hotel_img/sls_img/3.jpg" title=""><img src="images/hotel_img/sls_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                                                    </div>
                                                </div>-->

                        <div class="hotel_content_block">
                            <h2>Luxor</h2>
                            <p>
                                This vibrant Egyptian Pyramid-themed casino resort on the south end of the Strip is housed in a 30-story pyramid topped with a 315,000-watt light beam. The dining and drinking options include a steak and seafood bar, a Mexican cantina, a pizza joint, and an Irish pub. You will also enjoy a bustling casino, fitness center and a salon, plus a spa and an outdoor pool.
                                <br><br>
                                Entertainment option includes some of the top shows in Vegas. Chris Angel's Mind Freak, Blue Man Group, Carrot Top and Fantasy. If you are into competitive gaming, Luxor is the home of E-Sports Arena Las Vegas.  Luxor is an MGM Resort, and as their guest you can take advantage of special deals like a 3 for $57 offer on attractions such as Shark Reef, Sigfried and Roy's Secret Garden and Dolphin Habitat, Bellagio Gallery of Fine Art, CSI the Experience, Big Apple Roller Coaster, Bodies…The Exhibition, Adventure Dome, and all day passes to 4-D movies at Excalibur.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/luxor_img/1.jpg" title=""><img src="~/images/hotel_img/luxor_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/luxor_img/2.jpg" title=""><img src="~/images/hotel_img/luxor_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/luxor_img/3.jpg" title=""><img src="~/images/hotel_img/luxor_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>

                        <div class="hotel_content_block">
                            <h2>Excalibur</h2>
                            <p>
                                Located on the south end of the Strip, this Camelot-themed resort casino is one of few family friendly resorts in Sin City. Dining options are endless and include a food court, buffet, Camelot Steakhouse, Bucca Di Beppo, and Dicks Last Resort. You will find shows including the Tournament of Kings and the Australian Bee Gees, both of which are great for all ages, as well as Thunder from Down Under for the grown folks. They also host the Ultimate 4D Experience, where you can join some of your favorite characters in a 15 minute adventure. You can also check out the Fun Dungeon for some great arcade games.
                                <br><br>
                                The resort is also connected by tram to Mandalay Bay and Luxor and by walkway to MGM, New York New York, The Park and T-Mobile Arena. Excalibur is an MGM Resort, and as their guest you can take advantage of special deals like a 3 for $57 offer on attractions such as Shark Reef, Sigfried and Roy's Secret Garden and Dolphin Habitat, Bellagio Gallery of Fine Art, CSI the Experience, Big Apple Roller Coaster, Bodies…The Exhibition, Adventure Dome, and all day passes to 4-D movies at Excalibur.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/excaliber_img/1.jpg" title=""><img src="~/images/hotel_img/excaliber_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/excaliber_img/2.jpg" title=""><img src="~/images/hotel_img/excaliber_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/excaliber_img/3.jpg" title=""><img src="~/images/hotel_img/excaliber_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>


                        <div class="hotel_content_block">
                            <h2>Circus Circus</h2>
                            <p>If you must bring the kids to Vegas, bring them to the property where they will be able to enjoy endless shows and activities during their stay. Circus Circus features a Carnival Midway, the world's largest permanent circus, and the Adventuredome Indoor Theme Park. The Carnival Midway is for all ages loaded with games and premium prizes as well as over 200 current and classic arcade games. The Midway surrounds the circus stage, which showcases free world class acts starting at 11:30am every day.</p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/circus_img/1.jpg" title=""><img src="~/images/hotel_img/circus_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/circus_img/2.jpg" title=""><img src="~/images/hotel_img/circus_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/circus_img/3.jpg" title=""><img src="~/images/hotel_img/circus_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>


                        <div class="hotel_content_block">
                            <h2>Plaza Hotel & Casino</h2>
                            <p>
                                Located on Main Street where Fremont begins, the Plaza anchors the Fremont Street Experience. In addition to being in a prime position to enjoy all the downtown Las Vegas has to offer, you will also find the hotel itself to be truly a classic Vegas experience.
                                <br><br>
                                The rooms are spacious and since their recent remodel are also quite well appointed. The Plaza's pool is located on the roof of one of their towers and offers cabanas and a stage with live DJ sets on weekends. You can swim up to the in-pool bar for a refreshing drink, then play blackjack or craps without leaving the water. Their dining outlets include the extremely popular Hash House a Go-Go, which offers humungous portions of breakfast and lunch favorites. Their dinner options are highlighted by Oscar's Beef, Booze and Broads, a fantastic steakhouse and bar owned by the famous mob lawyer and long time mayor of Vegas, Oscar Goodman. There are other restaurants, a Beer Garden, and a food court as well.
                                <br><br>
                                The Plaza is home to nightly entertainment including their own production show, A Mob Story, which tells about how the mob built up Vegas and how Vegas took down the mob. The Omaha Lounge features a vast array of entertainers and is a great place to get your party started. You will also find special parties from time to time including after every home game of our professional hockey club, the Las Vegas Lights.

                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/plaza_img/1.jpg" title=""><img src="~/images/hotel_img/plaza_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/plaza_img/2.jpg" title=""><img src="~/images/hotel_img/plaza_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/plaza_img/3.jpg" title=""><img src="~/images/hotel_img/plaza_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>

                        <div class="hotel_content_block">
                            <h2>The D Downtown</h2>
                            <p>
                                Long on fun and short on ordinary, The D is  is located on the Fremont Street Experience. A fun property with nice rooms with a  modern décor, fun bars with flare bartenders, and several shows plus free music nightly on 3 Fremont stages including one immediately outside of the hotel. For a casual meal, try American Coney Island, a well-known Detroit favorite for almost a century among locals and visitors. If you are in the mood for fine dining, Andiamo Steakhouse, boasting American prime and Italian flavor.
                                <br><br>
                                The D's showroom has anywhere from 1-4 different shows every day/evening. Marriage Can Be Murder has been running for nearly 20 years now, the longest running dinner show in Vegas. Defending the Caveman is another popular show that has been running for many years now. The D also has a couple of comedy offerings to choose from.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/downtown_img/1.jpg" title=""><img src="~/images/hotel_img/downtown_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/downtown_img/2.jpg" title=""><img src="~/images/hotel_img/downtown_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/downtown_img/3.jpg" title=""><img src="~/images/hotel_img/downtown_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>


                        <div class="hotel_content_block">
                            <h2>Downtown Grand</h2>
                            <p>
                                Situated in the heart of Downtown Las Vegas, discover another side of "Old" Las Vegas at the Downtown Grand Hotel & Casino. Just steps from Fremont Street, the Mob Museum and The Smith Center, this newly renovated urban resort offers you a variety of options to dine, play, game and explore the heart of Las Vegas.
                                <br><br>
                                The Downtown Grand Hotel & Casino offers a truly authentic Las Vegas experience. Enjoy newly refurbished hotel rooms and suites, multiple onsite dining options from the timeless Triple George Grill Steakhouse, the smash hit Pizza Rock to the infamous Hogs & Heifers Saloon. On the casino rooftop you will find the Citrus Grand Pool Deck, a refreshing twist on the largest pool deck in all of Downtown Las Vegas.
                                <br><br>
                                Lady Luck awaits in the state-of-the-art casino and friendly tables why they were named "Best Casino" by Casino Player Magazine.
                            </p>

                            <div class="gallary_img_block">
                                <a class="group2" href="~/images/hotel_img/grand_img/1.jpg" title=""><img src="~/images/hotel_img/grand_img/1.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/grand_img/2.jpg" title=""><img src="~/images/hotel_img/grand_img/2.jpg" alt="" title="" class="img-responsive" /></a>
                                <a class="group2" href="~/images/hotel_img/grand_img/3.jpg" title=""><img src="~/images/hotel_img/grand_img/3.jpg" alt="" title="" class="img-responsive" /></a>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <!--end left col container-->
            <!--right col container-->
            <div class="col-sm-4 col-md-4 col-lg-4" id="sticky1">
                <div class="right_col_container">
                    <div class="vacation_packags_block">
                        <div class="packages_container">
                            <p class="pack_gray_strong">4 Day Stay</p>
                            <p class="package_info color_blue">4 DAYS/3 NIGHTS IN LAS VEGAS</p>
                            <br />
                            <div class="pack_gray_strong" align="center"><img src="~/images/prices/1500_retail_value_sm.png" alt="" title="" class="img-responsive" id="vegas6" /></div>
                            <p class="package_price color_blue"><span>$</span>699</p>
                            <ul class="packages_detailsListing">
                                <li>Any day check in<br />	NO BLACKOUT DATES</li>
                            </ul>
                            <p class="package_info color_blue">- PACKAGE INCLUDES -</p>
                            <ul class="packages_detailsListing">
                                <li><strong>3 Nights Accommodation</strong></li>
                                <li>$150 Dining and 2 Show Tickets</li>

                            </ul>

                        </div>

                        <a class="view_details_package pack_btn_blue" asp-action="Package" rel="nofollow">VIEW Entire Package</a>
                    </div>
                </div>
            </div>
            <!--end right col container-->
        </div>
    </div>
</section>
<!--end main container part-->
