@{
    ViewData["Title"] = "Home Page";
}
<section class="vegas_section_3 site_page_title">
    <div class="container">
        <div class="color_overlay_violet"></div>
        <div class="page_title_box clearfix">

            <!--NEW-->
            <div class="collapes_content_block">
                <!--<h3>A $1,000+ RETAIL VALUE!!</h3>-->
                <h3><img src="~/images/prices/title_text1.png" alt="" title="" class="img-responsive" id="vegas5" /></h3>

                <h4>
                    3 NIGHTS RESORT ACCOMMODATIONS -<br />
                    <img src="~/images/prices/price_title_img_1a.png" alt="" title="" class="img-responsive" id="vegas7" />
                </h4>
                <p>
                    Getting the best rate on your Las Vegas resort will always depend on the days of week and time of year you travel. VegasVacations.vip has partnered with the best booking engines in the world today, making this unbelievably impossible offer possible.  You have the flexibility to arrive 7 days a week and stay at 1 of 14 popular resorts like Planet Hollywood, Luxor, Hard Rock, Treasure Island and more!
                    <a class="btn btn-xs btn-primary expand_more_btn" role="button" data-toggle="collapse" href="#collapseContent1" aria-expanded="false" aria-controls="collapseContent1">+ read more</a>
                </p><br />

                <div class="collapse" id="collapseContent1">
                    <div class="well collapeExpand_content_block">
                        <p>
                            <br>While the exact retail value of resort accommodations in Las Vegas fluctuates based on when and where you are staying, time of year and so on, a 3-night's stay with taxes included that offers a 7-day arrival will average $300.   We invite you to visit our resorts websites and see the quality and value for yourself!
                        </p><br /><br />
                        <ul>
                            <li>PLANET HOLLYWOOD <a href="https://www.caesars.com/planet-hollywood" target="_blank">https://www.caesars.com/planet-hollywood</a></li>
                            <li>THE FLAMINGO <a href="https://www.caesars.com/flamingo-las-vegas" target="_blank">https://www.caesars.com/flamingo-las-vegas</a> </li>
                            <li>BALLY'S <a href="https://www.caesars.com/ballys-las-vegas" target="_blank">https://www.caesars.com/ballys-las-vegas</a> </li>
                            <li>THE LINQ <a href="https://www.caesars.com/linq" target="_blank">https://www.caesars.com/linq</a> </li>
                            <li>THE RIO <a href="https://www.caesars.com/rio-las-vegas " target="_blank">https://www.caesars.com/rio-las-vegas </a> </li>
                            <li>THE LUXOR <a href="https://luxor.mgmresorts.com/en/hotel.html" target="_blank">https://luxor.mgmresorts.com/en/hotel.html</a> </li>
                            <li>CIRCUS CIRCUS <a href="https://circuscircus.mgmresorts.com/en.html" target="_blank">https://circuscircus.mgmresorts.com/en.html </a> </li>
                            <li>EXCALIBUR <a href="https://excalibur.mgmresorts.com/en.html" target="_blank">https://excalibur.mgmresorts.com/en.html</a> </li>
                            <li>TREASURE ISLAND <a href="https://www.treasureisland.com/" target="_blank">https://www.treasureisland.com/</a> </li>
                            <!--<li>HARD ROCK HOTEL <a href="https://www.hardrockhotel.com/" target="_blank">https://www.hardrockhotel.com/</a> </li>-->
                            <li>THE PLAZA <a href="https://www.plazahotelcasino.com/" target="_blank">https://www.plazahotelcasino.com/</a> </li>
                            <li>SLS SAHARA <a href="https://saharalasvegas.com/ " target="_blank">https://saharalasvegas.com/</a> </li>
                            <li>THE D <a href="https://www.thed.com/" target="_blank">https://www.thed.com/</a> </li>
                            <li>THE GRAND <a href="https://www.downtowngrand.com/" target="_blank">https://www.downtowngrand.com/</a> </li>
                        </ul><br />
                    </div>
                </div>
            </div>


            <div class="collapes_content_block">
                <br />
                <h4>
                    $50 CERTIFICATE TO PAMPAS BRAZILIAN STEAKHOUSE -<br />
                    <img src="~/images/prices/50_retail_value.png" alt="" title="" class="img-responsive" id="vegas8" />
                </h4>
                <p>Pampas Brazilian Steakhouse is in the Planet Hollywood Resort and Casino.  To view their vast menu of meats and award-winning quality cocktails, wines and beers, visit <a href="//pampasusa.com/" style="color:#fff !important;" target="_blank">Pampasusa.com</a>.</p><br />
                <!--<a class="btn btn-xs btn-primary expand_more_btn" role="button" data-toggle="collapse" href="#collapseContent2" aria-expanded="false" aria-controls="collapseContent2">+ read more</a>
                </p><br />

                <div class="collapse" id="collapseContent2">
                <div class="well collapeExpand_content_block">
                    <p><br>While there, you will see the opportunity to earn a $50 dining card for every $500 spent at Pampas.  But you won't have to spend $1,000 to receive your $100 dining card to Pampas!  That $100 dollar-for-dollar gift card is INCLUDED with your VegasVacations.vip package.  Which remember, only cost you $319 out-the-door taxes included!  </p><br />

                    </div>
                </div>   -->
            </div>


            <div class="collapes_content_block">
                <br />
                <h4>
                    2 SHOW TICKETS OR ATTRACTIONS -<br />
                    <img src="~/images/prices/100_retail_value.png" alt="" title="" class="img-responsive" id="vegas9" />
                </h4>
                <p>
                    There's no place on earth like Las Vegas to see a show or take in an attraction and there are plenty to choose from. We provide 2 totally free show tickets or Vegas attraction passes to your choice of our most popular things to do.
                    <a class="btn btn-xs btn-primary expand_more_btn" asp-action="Gifts">+ read more</a>
                </p><br />

                <div class="collapse" id="collapseContent3">
                    <div class="well collapeExpand_content_block">
                        <p><br>Your VegasVacations.vip show tickets really are "totally free" and quality productions that cost on average $100.  We invite you to view their websites and see the quality and price for yourself! </p><br />
                        <ul>
                            <li>MJ LIVE <a href="https://mjliveshow.com/" target="_blank">https://mjliveshow.com/</a></li>
                            <li>LEGENDS IN CONCERT <a href="https://www.legendsinconcert.com/las-vegas" target="_blank">https://www.legendsinconcert.com/las-vegas</a></li>
                            <li>PURPLE REIGN <a href="https://purplereign.net/" target="_blank">https://purplereign.net/</a></li>
                            <li>LA COMEDY CLUB <a href="http://thelacomedyclub.com/" target="_blank"> http://thelacomedyclub.com/ </a></li>
                            <li>LAUGH FACTORY <a href="http://www.laughfactory.com/clubs/las-vegas" target="_blank"> http://www.laughfactory.com/clubs/las-vegas</a></li>
                            <li>BODIES EXPOSITION <a href="http://www.premierexhibitions.com/exhibitions/4/4/bodies-exhibition" target="_blank"> http://www.premierexhibitions.com/exhibitions/4/4/bodies-exhibition</a></li>
                            <li>MOB MUSEUM <a href="https://themobmuseum.org" target="_blank">https://themobmuseum.org</a></li>
                            <li>MURRAY MAGICIAN <a href="https://murraymagic.com/" target="_blank">https://murraymagic.com/ </a> </li>
                        </ul><br />

                        <!--<p>And don't forget, you only pay $319 out-the-door taxes included for 3 nights resort accommodations, a $100 steak dinner dollar-for-dollar gift card AND 2 totally free show tickets worth up to $160 all by themselves!</p><br />-->
                    </div>
                </div>
            </div>


            <!--<div class="collapes_content_block">
                        <br />
                        <h4>$100 DINING ADVANTAGE CARD FROM ENTERTAINMENT -<br />
                        <img src="~/images/prices/price_title_img_4a.png" alt="" title="" class="img-responsive" id="vegas10" /></h4>
                        <p>Who is Entertainment?  Over the last 55 years Entertainment has become America's most trusted coupon network.  It all began in 1962 with its legendary flagship coupon book, which went on to become as American as apple pie in households across the USA.
                        <a class="btn btn-xs btn-primary expand_more_btn" role="button" data-toggle="collapse" href="#collapseContent4" aria-expanded="false" aria-controls="collapseContent4">+ read more</a>
                        </p><br />

                        <div class="collapse" id="collapseContent4">
                        <div class="well collapeExpand_content_block">
                            <p><br>Today Entertainment is the leading provider of unbeatable local and national discounts throughout the United States and Canada.  Including the Dining Advantage Card powered by Entertainment. Unlike the $100 Pampas Card, the Dining Advantage Card is NOT a dollar-for-dollar gift card that is typically redeemed at one place in one sitting.  Rather, it is a discount card that will save you $100 at a broad selection of all dining categories and cuisines, from local favorites and top national brands!  Like Black Angus, Buca di Beppo, Chuck E Cheese, Taco Bell, Quizno's, White Castle, IHOP, McDonalds, just to name of few of the 95,000 participating eateries!
            <br><br><br />
            Now let's see.  That's $300 in resort accommodations, a $100 dollar-for-dollar steak dinner, 2 totally free show tickets that retail up to $160, and a Dining Advantage Card that will save you another $100 at brands like McDonald's, Black Angus, IHOP or 95,000 other eateries.</p><br />

                            </div>
                        </div>
                    </div>-->

            <div class="collapes_content_block">
                <br />
                <h4>
                    DREAM VACATION WEEK -<br />
                    <img src="~/images/prices/1800_plus_retail_value.png" alt="" title="" class="img-responsive" id="vegas11" />
                </h4>
                <p>
                    Access to studio, one or two bedroom resort accommodations. Choose from thousands of locations worldwide.

                </p><br />


            </div>

            <div class="collapes_content_block">
                <br />
                <h4>
                    AIRFARE CONTINENTAL UNITED STATES -<br />
                    <img src="~/images/prices/400_avarage_retail_value.png" alt="" title="" class="img-responsive" id="vegas11" />
                </h4>
                <p>
                    Round trip coach class flights for 2 adults  within the continental United States. Sun thru Thurs departures included. Upgrades to Hawaii flights and weekend dates available for purchase.

                </p><br />


            </div>

            <!-- NEW END -->

        </div>
    </div>
</section>


<section class="scroll_images_section vegas_section_1">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-5 col-lg-4">
                <div class="vacation_packags_block">
                    <div class="packages_container">
                        <p class="pack_gray_strong">4 Day Stay</p>
                        <p class="package_info color_blue">4 DAYS/3 NIGHTS IN LAS VEGAS</p>
                        <br />
                        <div class="pack_gray_strong" align="center"><img src="~/images/prices/1500_retail_value_sm.png" alt="" title="" class="img-responsive" id="vegas6" /></div>
                        <p class="package_price color_blue"><span>$</span>699</p>
                        <ul class="packages_detailsListing">
                            <li>
                                Any day check in<br />
                                NO BLACKOUT DATES
                            </li>
                        </ul>
                        <p class="package_info color_blue">- PACKAGE INCLUDES -</p>
                        <ul class="packages_detailsListing">
                            <li><strong>3 Nights Accommodation</strong></li>
                            <li>$50 Dining and 2 Attraction or Show Tickets</li>

                        </ul>

                    </div>

                    <a class="view_details_package pack_btn_blue" asp-action="Package">VIEW Entire Package</a>
                </div>
            </div>

        </div>
    </div>
</section>



<section class="vegas_section_2 site_page_title contact_info_title">
    <div class="container">
        <div class="color_overlay_red color_overlayPhone"></div>
        <div class="page_title_box clearfix">
            <h3 class="open_title">TELEPHONE PROMOTION ONLY	</h3>
            <p class="yellow_contact_no"><!--<img src="~/images/phone_icon_img.jpg" alt="" title="" />-->(800) 419-8000</p>
        </div>
    </div>
</section>



<section class="vegas_section_3 site_page_title">
    <div class="container">
        <div class="color_overlay_violet"></div>
        <div class="page_title_box clearfix">
            <h3 class="open_title">
                WHY NOT BUY THIS PACKAGE TODAY?
            </h3>
            <p class="why_section_subtitle">
                <img src="~/images/prices/2500_retail_value_sm.png" alt="" class="img-responsive" id="vegas15" />
                <!--A $1000+ Retail Value!!-->
            </p>
            <!--
            <h4 class="bottom1">3 Nights that include weekends on the LV Strip....... $300</h4>
            <h4 class="bottom1">A $100 steak dinner dollar-for-dollar gift card...... $100</h4>
            <h4 class="bottom1">2 Totally Free Show Tickets.......................... $160</h4>
            <h4 class="bottom1">A $100 Dining Advantage Card......................... $100</h4>
            <h4 class="bottom1">$500 Travel Savings Credit........................... $500</h4>
            -->
            <!--<ul class="package_text_line">
                            <li>3 Nights that include weekends on the LV Strip............ $300</li>
                            <li>A $100 steak dinner dollar-for-dollar gift card............. $100</li>
                            <li>2 Totally Free Show Tickets........................................ $160</li>
                            <li>A $100 Dining Advantage Card................................... $100</li>
                            <li>$500 Travel Savings Credit........................................ $500</li>
                        </ul>-->
            <p style="text-align:left !important;"><img src="~/images/prices/package_img.png" alt="" title="" class="img-responsive" /></p>
            <br />
            <p style="text-align:center !important;"><a asp-action="BuyNow"><img class="logoanimi blink-image" src="~/images/button_orange.png" alt="" title="" /></a></p>
        </div>
    </div>
</section>