@{
    ViewData["Title"] = "Travel Show";
}

<section class="site_page_title why_choose_title">
    <div class="container">
        <div class="row">
            <!--left col container-->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="left_col_container">

                    <div class="page_title_box common_page_title clearfix">
                        <h1>The Travel Show</h1>
                    </div>

                    <div class="common_page_container">
                        <!--<p class="featured_text">The Travel Show is a fun and informative multimedia exploration into the Newest Vacation Concepts & Lifestyle!</p>
                        <p class="featured_text">If you're an Amazon Prime member, you already know that membership has its privileges, and what it means to Shop American Style and take advantage of huge savings.  The fact is, we all are Prime members because it's too expensive NOT to be one!  And now, in approximately 60 + short minutes you will learn how that same principle can apply to all your future travel plans! The savings go through the roof when you learn how to Travel American Style!!</p>-->

                        <p class="featured_text">The Travel Show is a fun and informative multimedia exploration into the Newest Vacation Concepts & Lifestyle!</p>

                        <p class="featured_text">Think of what it means to be an Amazon Prime member. You don’t HAVE to be a Prime member to shop on Amazon, but most of the world has figured out that it’s too expensive NOT to be an Amazon Prime member. And now, in just 90 short minutes you will learn how that very same concept can apply to all your future travel plans!!</p>
                        <img src="images/travel_show_img.jpg" alt="" title="" class="img-responsive" />
                    </div>

                </div>
            </div>
            <!--end left col container-->
            <!--right col container-->
            <div class="col-sm-4 col-md-4 col-lg-4" id="sticky1">
                <div class="right_col_container">
                    <div class="vacation_packags_block">
                        <div class="packages_container">
                            <p class="pack_gray_strong">4 Day Stay</p>
                            <p class="package_info color_blue">4 DAYS/3 NIGHTS IN LAS VEGAS</p>
                            <br />
                            <div class="pack_gray_strong" align="center"><img src="images/prices/1500_retail_value_sm.png" alt="" title="" class="img-responsive" id="vegas6" /></div>
                            <p class="package_price color_blue"><span>$</span>699</p>
                            <ul class="packages_detailsListing">
                                <li>Any day check in<br />	NO BLACKOUT DATES</li>
                            </ul>
                            <p class="package_info color_blue">- PACKAGE INCLUDES -</p>
                            <ul class="packages_detailsListing">
                                <li><strong>3 Nights Accommodation</strong></li>
                                <li>$50 Dining and 2 Attraction or Show Tickets</li>

                            </ul>

                        </div>

                        <a class="view_details_package pack_btn_blue" asp-action="Package" rel="nofollow">VIEW Entire Package</a>
                    </div>
                </div>
            </div>
            <!--end right col container-->

        </div>
    </div>
</section>
