@using VegasVacationVip.Models
@{
    var metadata = new PageMetadata
            {
                Title = "What's The Catch - Vegas Vacations VIP",
                Description = "The catch is the Vegas Vacations VIP offer is not available to everyone. Do you qualify?",
                CanonicalUrl = "https://vegasvacations.vip/Home/WhatsTheCatch"
            };
}

@{
    ViewData["PageMetadata"] = metadata;
}

<section class="site_page_title why_choose_title">
    <div class="container">
        <div class="row">
            <!--left col container-->
            <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="left_col_container">

                    <div class="page_title_box common_page_title clearfix">
                        <h1>What's the Catch?</h1>
                    </div>

                    <div class="common_page_container">
                        <h2>IF AN OFFER SEEMS TOO GOOD TO BE TRUE, THERE MUST BE A CATCH.&nbsp; RIGHT?</h2>
                        <p>We hear that all the time about the VegasVacations.VIP vacation offer. How can a package valued over $1,500 including 3 nights, dining, show, a full week condo access a certificate for future air travel and more only cost $699*? What’s the catch? The catch is the VegasVacations.VIP offer is not available to everyone. Do you qualify? This offer is available to those who:</p>
                        <p>&nbsp;</p>
                        <h2>ATTEND A 90+ MINUTE TRAVEL SHOW</h2>
                        <p>The Travel Show is a modern-day fun and informative multimedia exploration into the Newest Vacation Concepts &amp; Lifestyle!</p>
                        <p>Think of what it means to be an Amazon Prime member. You don&rsquo;t HAVE to be a Prime member to shop on Amazon, but most of the world has figured out that it&rsquo;s too expensive NOT to be an Amazon Prime member. And now, in 60+ short minutes you will learn how that very same concept can apply to all your future travel plans!!</p>
                        <p>&nbsp;</p>
                        <h2>ARE AGED 30-75</h2>
                        <p>Simply be between 30 and 75 years old and you qualify for this amazing vacation offer!</p>
                        <p>&nbsp;</p>
                        <h2>HAVE A HOUSEHOLD INCOME OF $50K+</h2>
                        <p>We ask that the combined income in your household be $50,000 or greater.&nbsp; This includes the income from all members of your household, such as you and your spouse or partner that are permanently living together at the same address.</p>
                        <p>&nbsp;</p>
                        <h2>HAVE A VALID BANK ISSUED CREDIT CARD</h2>
                        <p>VegasVacations.VIP offer is available to those that have a valid credit or debit card in their name. This can be a MasterCard, Visa, American Express or Discover card.</p>
                        <p>&nbsp;</p>
                        <h2>ARE MARRIED OR COHABITATING</h2>
                        <p>VegasVacations.VIP offer is made for couples!&nbsp; Married or living together in a committed relationship.*</p>
                        <p>&nbsp;</p>
                        <p><em>*Single females between the ages 30 - 75 with an income of $60,000 or more that meet all additional qualifications may participate in this offer.  Single males between ages of 30 - 75 with an income of $70,000.</em></p>
                    </div>

                </div>
            </div>
            <!--end left col container-->
            <!--right col container-->
            <div class="col-sm-4 col-md-4 col-lg-4" id="sticky1">
                <div class="right_col_container">
                    <div class="vacation_packags_block">
                        <div class="packages_container">
                            <p class="pack_gray_strong">4 Day Stay</p>
                            <p class="package_info color_blue">4 DAYS/3 NIGHTS IN LAS VEGAS</p>
                            <br />
                            <div class="pack_gray_strong" align="center"><img src="~/images/prices/1500_retail_value_sm.png" alt="" title="" class="img-responsive" id="vegas6" /></div>
                            <p class="package_price color_blue"><span>$</span>699</p>
                            <ul class="packages_detailsListing">
                                <li>Any day check in<br />	NO BLACKOUT DATES</li>
                            </ul>
                            <p class="package_info color_blue">- PACKAGE INCLUDES -</p>
                            <ul class="packages_detailsListing">
                                <li><strong>3 Nights Accommodations</strong></li>
                                <li>$150 Dining and 2 Show Tickets</li>

                            </ul>

                        </div>

                        <a class="view_details_package pack_btn_blue" asp-action="Package" rel="nofollow">VIEW Entire Package</a>
                    </div>
                </div>
            </div>
            <!--end right col container-->

        </div>
    </div>
</section>