@model VegasVacationVip.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<h2>Log in</h2>

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="RememberMe" /> @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
    <p>
        <a asp-controller="Account" asp-action="Register">Register as a new user</a>
    </p>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
