
@{
    Layout = "~/Views/Shared/_BrochureLayoutBook.cshtml";
}
<div data-current="VegasVacations.VIP" class="fb5" id="fb5">

    <!-- PRELOADER -->
    <div class="fb5-preloader">
        <div id="wBall_1" class="wBall">
            <div class="wInnerBall">
            </div>
        </div>
        <div id="wBall_2" class="wBall">
            <div class="wInnerBall">
            </div>
        </div>
        <div id="wBall_3" class="wBall">
            <div class="wInnerBall">
            </div>
        </div>
        <div id="wBall_4" class="wBall">
            <div class="wInnerBall">
            </div>
        </div>
        <div id="wBall_5" class="wBall">
            <div class="wInnerBall">
            </div>
        </div>
    </div>


    <!-- BACKGROUND FOR BOOK -->
    <div class="fb5-bcg-book"></div>

    <!-- BEGIN CONTAINER BOOK -->
    <div id="fb5-container-book">

        <!-- BEGIN deep linking -->
        <section id="fb5-deeplinking">
            <ul>
                <li data-address="frontPage" data-page="1"></li>
                <li data-address="2-3" data-page="2"></li>
                <li data-address="2-3" data-page="3"></li>
                <li data-address="4-5" data-page="4"></li>
                <li data-address="4-5" data-page="5"></li>
                <!--
                <li data-address="6-7" data-page="6"></li>
                <li data-address="6-7" data-page="7"></li>-->
                <li data-address="end" data-page="6"></li>
            </ul>
        </section>
        <!-- END deep linking -->
        <!-- BEGIN BOOK -->
        <div id="fb5-book">

            <!-- BEGIN PAGE 1-->
            <div data-background-image="" class="">

                <!-- begin container page book -->
                <div class="fb5-cont-page-book">

                    <!-- description for page  -->
                    <div class="fb5-page-book cover_page_style"></div>
                    <!-- end description for page  -->
                    <!-- number page and title -->
                    <div class="fb5-meta">
                        <span class="fb5-description"></span>
                        <span class="fb5-num"></span>
                    </div>
                    <!-- end number page and title  -->
                </div>
                <!-- end container page book -->

            </div>
            <!-- END PAGE 1 -->
            <!--BEGIN PAGE 2-->
            <div class="">
                <!-- container page book -->
                <div class="fb5-cont-page-book">

                    <!-- description for page  -->
                    <div class="fb5-page-book">
                        <!--page content left side-->
                        <div class="page_content_left">
                            <div class="page_container_wrapper mirina_content_list">

                                <img src="~/ebrochure/img/brochure_img/package_img.jpg" alt="" title="" />

                            </div>

                        </div>
                        <!--end page content left side-->
                    </div>
                    <!-- end description for page  -->
                    <!-- number page and title for page -->
                    <!--<div class="fb5-meta">
                        <span class="fb5-num">2</span>
                        <span class="fb5-description">Page</span>
                     </div>-->

                </div> <!-- end container page book -->
            </div>
            <!-- END PAGE 2 -->
            <!-- BEGIN PAGE 3 -->
            <div class="">
                <!-- container page book -->
                <div class="fb5-cont-page-book">

                    <!-- description for page from WYSWIG -->
                    <div class="fb5-page-book" style="background:#FFF;">

                        <!--page content Right side-->
                        <div class="page_content_right">

                            <div class="page_container_wrapper mirina_content_list">
                                <img src="~/ebrochure/img/brochure_img/faq_1.jpg" alt="" title="" />
                            </div>

                        </div>
                        <!--end page content Right side-->
                    </div>

                    <!-- number page and title for page -->
                    <!--<div class="fb5-meta">
                        <span class="fb5-description">Page</span>
                        <span class="fb5-num">3</span>
                    </div> -->

                </div> <!-- end container page book -->
            </div>
            <!-- END PAGE 3-->
            <!--BEGIN PAGE 4-->
            <div class="">
                <!-- container page book -->
                <div class="fb5-cont-page-book">

                    <!-- description for page  -->
                    <div class="fb5-page-book">
                        <!--page content left side-->
                        <div class="page_content_left">
                            <div class="page_container_wrapper mirina_content_list">

                                <img src="~/ebrochure/img/brochure_img/faq_2.jpg" alt="" title="" />

                            </div>

                        </div>
                        <!--end page content left side-->
                    </div>
                    <!-- end description for page  -->
                    <!-- number page and title for page -->
                    <!--<div class="fb5-meta">
                        <span class="fb5-num">4</span>
                        <span class="fb5-description">Page</span>
                     </div> -->

                </div> <!-- end container page book -->
            </div>
            <!-- END PAGE 4 -->
            <!-- BEGIN PAGE 5 -->
            <div class="">
                <!-- container page book -->
                <div class="fb5-cont-page-book">

                    <!-- description for page from WYSWIG -->
                    <div class="fb5-page-book" style="background:#FFF;">

                        <!--page content Right side-->
                        <div class="page_content_right">

                            <div class="page_container_wrapper mirina_content_list">
                                <img src="~/ebrochure/img/brochure_img/faq_3.jpg" alt="" title="" />
                            </div>

                        </div>
                        <!--end page content Right side-->
                    </div>

                    <!-- number page and title for page -->
                    <!--<div class="fb5-meta">
                        <span class="fb5-description">Page</span>
                        <span class="fb5-num">5</span>
                    </div> -->

                </div> <!-- end container page book -->
            </div>
            <!-- END PAGE 5-->
            <!--=============================== End new page add=================================--->
            <!-- BEGIN PAGE 6 -->
            <div class="">
                <!-- container page book -->
                <div class="fb5-cont-page-book">

                    <!-- description for page from WYSWIG -->
                    <div class="fb5-page-book last_page_style">
                    </div>

                    <!-- number page and title for page -->
                    <!--<div class="fb5-meta">
                            <span class="fb5-num">8</span>
                            <span class="fb5-description"></span>
                    </div> -->

                </div>
            </div>
            <!-- END PAGE 6 -->


        </div>
        <!-- END BOOK -->
        <!-- arrows -->



    </div>
    <!-- END CONTAINER BOOK -->


    <a class="fb5-nav-arrow prev"></a>
    <a class="fb5-nav-arrow next"></a>
</div>
<!-- END HTML BOOK -->
<!-- CONFIGURATION FLIPBOOK -->
<script>
    jQuery('#fb5').data('config',
        {
            "page_width": "600",
            "page_height": "800",
            "email_form": "office@somedomain.com",
            "zoom_double_click": "1",
            "zoom_step": "0.06",
            "double_click_enabled": "true",
            "tooltip_visible": "true",
            "toolbar_visible": "true",
            "gotopage_width": "30",
            "deeplinking_enabled": "true",
            "rtl": "false",
            'full_area': 'false',
            'lazy_loading_thumbs': 'false',
            'lazy_loading_pages': 'false'
        })
</script>

