@{
    Layout = "~/Views/Shared/_BrochureLayout.cshtml"; ;
}


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <img src="~/ebrochure/img/cover_bg.jpg" alt="" title="" class="img-responsive" /><br>
                </div>
                <div class="col-sm-12">
                    <img src="~/ebrochure/img/brochure_img/package_img.jpg" alt="" title="" class="img-responsive" /><br>
                </div>
                <div class="col-sm-12">
                    <img src="~/ebrochure/img/brochure_img/faq_1.jpg" alt="" title="" class="img-responsive" />
                </div>
                <div class="col-sm-12">
                    <img src="~/ebrochure/img/brochure_img/faq_2.jpg" alt="" title="" class="img-responsive" />
                </div>
                <div class="col-sm-12">
                    <img src="~/ebrochure/img/brochure_img/faq_3.jpg" alt="" title="" class="img-responsive" />
                </div>
                <!--
                <div class="col-sm-12">
                    <img src="ebrochure/img/brochure_img/faq_4.jpg" alt="" title="" class="img-responsive" />
                </div>-->
                <!--<div class="col-sm-12">
                    <img src="ebrochure/img/brochure_img/faq_5.jpg" alt="" title="" class="img-responsive" />
                </div>-->
                <div class="col-sm-12">
                    <img src="~/ebrochure/img/back_page.jpg" alt="" title="" class="img-responsive" />
                </div>
            </div>
        </div>
